.main-div {
    width: 80%;
    align-self: center;
    align-items: center;
    margin: auto;
    text-align: center;
    align-content: center;
}

.container {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    background-color: #eee;
}

img {
    margin-left: auto;
    margin-right: auto;
}
