@model pet_store.Models.Category
@{
    ViewData["Title"] = $"Admin panel - {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin panel - @Model.Name</h1>
<br />
<a asp-action="Index">Return</a>
<br />

<div class="container">
    @foreach (var animal in Model.Animals!)
    {
        <div class="card">
            <strong>@animal.Name</strong><br />
            <img src="~/Assets/@animal.ImageSource" width="100" height="100" />
            <a asp-action="EditAnimal" asp-route-id="@animal.AnimalID">Edit</a>
            <a asp-action="DeleteAnimal" asp-route-id="@animal.AnimalID">Delete</a>
        </div>
    }
</div>
