@model IEnumerable<pet_store.Models.Category>
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1><br />
<a asp-action="CreateAnimal">Add new Animal</a><br />
<a asp-action="CreateCategory">Add new Category</a><br />
<form method="post" asp-action="AnimalsByCategory">
    <label for="category">
        select category
        <select id="category" name="category">
            @foreach (var category in Model)
            {
                <option value="@category.CategoryID">@category.Name</option>
            }
        </select>
        <button type="submit">Search Category</button>
    </label>


</form>