@model IEnumerable<pet_store.Models.Animal>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pet store</title>
</head>
<body>
    @*<a   contr action="Index">enter as admin</a>*@
    <a asp-controller="Admin" asp-action="Index"  >enter as admin</a>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</body>
</html>
