@model IEnumerable<pet_store.Models.Animal>
@{
    ViewData["Title"] = "pet store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card">
            @item.Name<br />
            <img src="@item.PictureSrc" width="100" height="100" /><br />
            @item.Description<br />
            Reviews<br />
            @foreach (var comment in item.Comments!)
            {
                @comment.Content
                <br />
            }
            <br />
        </div>
    }
</div>
