@model IEnumerable<pet_store.Models.Animal>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var animal in Model)
    {
        <div>
        <p>@animal.Name</p>
        <img src="@animal.PictureSrc" width="100" height="100"/>
        <p>@animal.Category?.Name</p>
        <p>@animal.Age</p>
        </div>
    }
</body>
</html>
